@charset "utf-8";

#login-dialog {
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

#logo {
	width: 100px;
	height: 20px
}

#conteudo {
	padding: 0px 8px;
}

body {
	font-size: 12px;
	font-family: Arial, helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px;
}

h1{
	font-size: 24px;
	font-weight: 500;	
	padding: 0px;
	margin: 0px;
}

header {
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 30px;
	background-color: #545454;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
}

header>div {
	margin-left: 8px;
}

.ajax-status{	
	position: fixed;
	top: 55px;
	right: 10px;
	width: 10px;
	height: 10px;
}
.form-pequeno{
    width: 600px;
    margin: 0 auto;
}
.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px;
}
.menu-sistema{
	border: 0px !important;
	padding: 0px !important;	
	background-image: none!important;
	color: white !important;
}

.rotulo{
	width: 150px; 
}
.ui-panel-grid td{
	height: 34px;	
}
.ui-selectmanycheckbox td label{
	padding-right: 10px;
}
h1{color: darkcyan}